{% extends "base.html" %}
{% load static %} 
{% block page_header %} 
{% endblock%} 
{% block content %}
<!-- Add the stripe script -->
<div class="mx-auto container" style="margin-top:180px">
  <form class="" action="" method="POST">
    {% csrf_token %}
    <script
      src="https://checkout.stripe.com/checkout.js"
      class="stripe-button"
      data-key="pk_test_TYooMQauvdEDq54NiTphI7jx"
      data-amount="{{ stripe_total }}"
      data-name="Z-Store"
      data-description="{{ description }}"
      data-locale="auto"
      data-currency="usd"
      data-shipping-address="true"
      data-billing-address="true"
      data-zip-code="true"
    ></script>
  </form>
  <a href="{% url 'home' %}" style="text-decoration: none">
    <button type="button" class="btn btn-lg btn-block bg-dark text-white">
      Continue Shopping
    </button>
  </a>
</div>
{% endblock %}
